# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Vue.js
dist/
build/

# Archivos de configuración del entorno
.env
.env.* 

# Archivos de caché
.cache/
.vscode/
.idea/
.VSCodeCounter/

# Archivos del sistema operativo
.DS_Store

# Archivos temporales o de respaldo
*.log
*.bak
*.swp

# Archivos de base de datos
*.sqlite3
*.db

# Archivos de paquetes de Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
__pypackages__/

# Archivos comprimidos
*.tar.gz
*.zip

#