services:
  backend:
    build:
      context: ./core
      dockerfile: Dockerfile
    volumes:
      - ./core:/app/core
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1
      - PYTHONPATH=/app
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    depends_on:
      - database
    networks:
      - app_network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    volumes:
      - ./frontend:/app
    ports:
      - "80:80"
    networks:
      - app_network

  database:
    build:
      context: ./database
      dockerfile: Dockerfile
    volumes:
      - db_data:/data/db
    ports:
      - "27017:27017"
    networks:
      - app_network
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
      MONGO_INITDB_DATABASE: brevio

  redis:
    image: "redis:alpine"
    ports:
      - "6380:6379"
    networks:
      - app_network

  celery:
    build:
      context: ./core
      dockerfile: Dockerfile
    command: celery -A core.brevio_api.celery worker --loglevel=debug --time-limit=7200 --soft-time-limit=3600
    volumes:
      - ./core:/app/core
      - ./data:/app/data
    environment:
      - PYTHONUNBUFFERED=1
      - PYTHONPATH=/app
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    depends_on:
      - database
      - redis
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    networks:
      - app_network

volumes:
  db_data:

networks:
  app_network:
    driver: bridge