services:
  backend:
    build:
      context: backend/
      dockerfile: Dockerfile
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1
  frontend:
    build: frontend/
    dockerfile: Dockerfile
    volumes:
      - ./frontend:/app
    ports:
      - "8080:8080"