beautifulsoup4
black
debugpy
dnspython
fastapi[standard]
ffmpeg
googletrans
isort
markdown
mongomock
mypy
openai==1.57.2
openai-whisper==20240930
passlib[bcrypt]
pre-commit
pyjwt
pymongo
pypdf
pytest-asyncio
pytest-cov
pytest-mock
python-docx
python-dotenv
python-multipart
types-Markdown
yt-dlp
#setuptools