header {
    background-color: #1f1a1c !important;
    color: #fff;
  }
  
  .hamburger-button {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .ant-menu-item:hover {
    background-color: #25282F !important; 
    color: #fff !important;
  }
  
  :deep(.ant-menu-item:hover) {
    background-color: #25282F !important;
    color: #fff !important;
  }
  
  :deep(.ant-drawer-header) {
    background-color: #1f1a1c !important;
    color: #fff !important;
  }
  
  :deep(.ant-drawer-body) {
    background-color: #1f1a1c !important;
    color: #fff !important;
  }
  
  .ant-menu {
    background-color: #1f1a1c !important;
    color: #fff !important;
  }
  
  .ant-menu-item {
    color: #fff !important;
  }
  
  .ant-menu-item-selected {
    background-color: #25282F !important;
    color: #fff !important;
  }