.model, .language {
    padding: 10px;
  }
  
  .slide-fade-enter-active {
    transition: all 0.2s ease-out;
  }
  
  .slide-fade-leave-active {
    transition: all 0.4s cubic-bezier(0.8, 0.3, 0.6, 0.8);
  }
  
  .slide-fade-enter-from,
  .slide-fade-leave-to {
    transform: translateX(10px);
    opacity: 0;
  }

  .a-select {
    width: 100%;
  }

  .container-configbox {
    color: white; 
    width:45%;
  }