.form-content {
    background-color: #FAFAFA !important;
    padding: 10px;
}

.menu-item-content {
    width: 100% !important;
    
}

.menu-item-content button {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    height: 2em;
}

.ant-tabs-content-holder{
    background-color: #FAFAFA !important;
    border-bottom-right-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}


.ant-form-item-label > label {
    white-space: normal; 
    width: auto;        
    max-width: 100%; 
    display: inline-block !important;
  }
  
