black==25.1.0
cfgv==3.4.0
coverage==7.8.0
debugpy==1.8.14
distlib==0.3.9
identify==2.6.10
iniconfig==2.1.0
isort==6.0.1
mongomock==4.3.0
mypy==1.15.0
mypy-extensions==1.0.0
nodeenv==1.9.1
platformdirs==4.3.7
pluggy==1.5.0
pre_commit==4.2.0
pytest==8.3.5
pytest-asyncio==0.26.0
pytest-cov==6.1.1
pytest-mock==3.14.0
types-Markdown==3.8.0.20250415
types-openpyxl==3.1.5.20250506
types-python-dateutil==2.9.0.20241206
types-pytz==2025.2.0.20250326
types-transformers==0.1.0
typing-inspection==0.4.0
virtualenv==20.30.0
